body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Full-screen height */
    margin: 0;
    background-color: #f0f2f5;
}

.viewer-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
    color: #333;
}


/* Upload Section */
#upload-section {
    background: #fff;
    padding: 40px 60px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}


.upload-reqs {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

form {
    margin-bottom: 20px;
}

.text-box input {
    width: 100%;
    padding: 10px 15px;
    border: 2px solid #ccc;
    border-radius: 8px;
    outline: none;
    box-sizing: border-box;
    margin-bottom: 15px;
}

.button button {
    background-color: #1DB954; /* Spotify Green */
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
}

.button button:hover {
    background-color: #18a34c;
}


.track-list {
    width: 100%;
    max-width: 600px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.track {
    padding: 8px 0;
    border-bottom: 1px solid #eee;
}

.button {
    margin-top: 20px;
}